* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    background-size: cover;
    background-attachment: fixed;
    /* font-family: Roboto; */
}
@media (max-width: 991.98px) {
  
    .logo-brand img {
        display: none;
    }
    body {
        width: 100%;
        height: 100%;  
    }
    .toggle-custom-menu {
        display: block !important;
        justify-content: flex-end;

    }
    .options-toggle {
        background-color: #fff; 

    }
    .options-menu  a {
        display: block;
        color: #ff851b;
    }
    #btn-logout{
        visibility: hidden !important; 
    }
    .icon-nav{
        align-items: center;
    }
    /* 
        TO Do :
        - cuando solo se esta en modo responsivo y si el usuario no esta logueado
         que solo aparezca la opcion de iniciar sesion
        - cambiar las propiedades de display a none, para que los botones ocupen
         el mismo sitio cuando se ocupen y mantener la funcionalidad en js.
        - mover el icono del menu a la derecha y mejorar el tama;o de la fuente
        
    */
    #btn-login {
        display: none;
    }
}
/*  */
#principal {
    display: inherit;
}
.logo-brand img {
    max-height: 95px;

    
}
.principal-logo {
    max-height: 85px;
}
#btn-logout{
    visibility: hidden;
    /* display: none; */
}

.custom-navbar {
    display: flex;
    align-items: center;
}
/*Iframe */
.iframe-custom {
    /* position: relative; */
    overflow: hidden;
    padding-top: 40%;
}
.iframe-tag {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
    border: none;
}
.custom-table {
    align-items: stretch;
    width: 100%;
    height: 100%;
}

.custom-botton {
    background-color: #FF851B;
    border-color: #ff851b;
    
}
.custom-botton:hover,
.custom-botton:active,
.custom-botton:focus,
.custom-botton.active {
    background: #fff;
    border-color: #ff851b;
    color: #ff851b;
    /* box-shadow: 0 0 0 0.25rem rgb(255, 133, 27 / 50%); */
    box-shadow: 0 0 0 0.25rem rgba(250, 194, 40, 0.9)
}

.toggle-custom-menu {
    display: none;
}
.custom-menu {

    background-color: #FF851B;
    border-top: 2px solid #ff851b;
    border-bottom: 2px solid #ff851b;
    justify-content: right;


}
